<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/images/foodtruck.jpg" class="rounded mx-auto d-block" style="height:200px"
                alt="Food Truck">

        </div>
    </div>
    <div class="row">
        <div class="offset-4 col-4">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="foodInput">
                    <small id="note" class="form-text text-muted">
                        Enter the food you want to eat and hit submit
                    </small>
                    <button type="submit" class="btn btn-info" id="addFood">Add Food</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="foodReady col-4 offset-2 bg-light">
            <h4>Your Food Ready to eat</h4>
            <ul>
                {{#each foods}}
                {{#unless devour}}
                <li> {{food_name}} <button class="eat btn btn-secondary" style="margin:1px" data-id="{{id}}"> Devour</button> </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="foodDevoured col-4 bg-light">
            <h4>Devour It</h4>
            <ul>
                {{#each foods}}
                {{#if devour}}
                <li class="ate">{{food_name}} </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>