<div class="container">
    <img id="food" src="/public/assets/images/foods.jpg" alt="">
    <h1>Food Truck</h1>
    <div class="form-group">
        <input type="text" class="form-control" id="foodInput">
        <small id="note" class="form-text text-muted">Enter the food you want to eat and hit submit</small>
        <button type="submit" class="btn btn-primary">Add Food</button>
    </div>
    <div class="row">
        <div class="foodOrders col-md-4">

        </div>
        <div class="devourIt col-md-2">

        </div>
        <div class="foodDevoured col-md-6">

        </div>

    </div>





</div>